bottle
gunicorn
requests==2.24.0
git+https://git@github.com/multiversx/mx-sdk-erdpy-core.git@v0.1.0#egg=erdpy_core
git+https://git@github.com/multiversx/mx-sdk-erdpy-network-providers.git@next-12-01#egg=erdpy_network
